<ion-view title="Student Home" hide-nav-bar="true" id="page31">
  <ion-content padding="false" class="manual-ios-statusbar-padding">

    <!-- Student Home Page -->

    <div ng-show="studentHomeView">
      <header id="pageHeader">
        <h3 id="teacherHome-heading1"  class="margin-top-null">
          {{ 'SELECT_YOUR_CLASS' | translate }}
          <a id="menu" class="button button-light icon ion-drag" ng-click="openPopoverStudentHome($event)"></a>
        </h3>
      </header>
      <ion-list id="teacherHome-list16" class="list-elements align-text-center">
        <ion-item id="teacherHome-list-item47" ng-repeat="class in classrooms" ng-click="setClassroom(class)" ng-hide="class.archived">
          <span class="ion-university"></span><br>{{class.name}}
        </ion-item>
      </ion-list>
      <div class="button-bar action_buttons">
        <button id="teacherHome-button12" class="button button-calm  button-block bold-font" ng-click="showModalAddClass()">AÑADIR CLASE</button>
      </div>
      <div ng-show="archivedClassroomsToShow">
        <h3 id="studentHome-heading1" class="margin-top-null">CLASES ARCHIVADAS</h3>
        <ion-list id="studentHome-list16" class="list-elements align-text-center">
          <ion-item id="studentHome-list-item47" ng-repeat="class in classrooms" ng-click="setClassroom(class)" ng-show="class.archived">
            <span class="ion-university"></span><br>{{class.name}}
          </ion-item>
        </ion-list>
      </div>
    </div>

    <!-- Profile Page -->

    <div ng-show="profileView">
      <form id="studentProfileFormData" class="list">
        <ion-list id="signUp-list2">
          <header id="pageHeader">
            <h3 id="teams-heading5" class="teams-hdg5">
              <a id="teacherHome-dropdown" class="button button-light icon ion-home" ng-click="studentHomeForm()"></a>
              <span>{{ 'PROFILE' | translate }}</span>
            </h3>
          </header>
          <ion-item class ="teacherAvatar">
            <img src={{student.avatar}} class="avatar">
          </ion-item>
          <label class="item item-input list-elements" id="signUp-input3">
            <span class="inputLabelProfile">
              <i class="icon ion-person"></i>&nbsp;&nbsp;{{ 'NAME' | translate }}
              <input id="inputName" type="text" placeholder="{{student.name}}" ng-model="modelProfile.name">
            </span>
          </label>
          <label class="item item-input list-elements" id="signUp-input3">
            <span class="inputLabelProfile">
              <i class="icon ion-person"></i>&nbsp;&nbsp;{{ 'SURNAME' | translate }}
              <input id="inputSurname" type="text" placeholder="{{student.surname}}" ng-model="modelProfile.surname">
            </span>
          </label>
          <label class="item item-input list-elements" id="signUp-input3">
            <span class="inputLabelProfile">
              <i class="icon ion-clipboard"></i>&nbsp;&nbsp;ESCUELA
              <input id="inputAvatar" type="text" placeholder="{{student.school}}" ng-model="modelProfile.school">
            </span>
          </label>
          <label class="item item-input list-elements" id="signUp-input3">
            <span class="inputLabelProfile">
              <i class="icon ion-image"></i>&nbsp;&nbsp;{{ 'AVATAR' | translate }}
              <input id="inputAvatar" type="text" placeholder="{{student.avatar}}" ng-model="modelProfile.avatar">
            </span>
          </label>
          <div class="button-bar action_buttons">
            <button id="signUp-button8" class="button button-calm button-block" ng-click="settingsForm()">{{ 'CANCEL' | translate }}</button>
            <button id="signUp-button9" ng-disabled="!modelProfile.name && !modelProfile.surname && !modelProfile.school && !modelProfile.avatar" id="signUp-btn9" class="button button-calm button-block" ng-click="editStudentData(modelProfile.name, modelProfile.surname, modelProfile.school, modelProfile.avatar)">{{ 'SAVE_CHANGES' | translate }}</button>
          </div>
        </ion-list>
      </form>
      <form id="studentProfileFormPassword">
        <ion-list>
          <label class="item item-input list-elements" id="signUp-input6">
            <span class="inputLabelProfile">
              <i class="icon ion-locked"></i>&nbsp;&nbsp;{{ 'PASSWORD' | translate }}
              <input id="inputPassword" type="password" placeholder="{{student.password}}" ng-model="modelProfile.password" ng-minlenght="6">
            </span>
          </label>
          <label class="item item-input list-elements" id="signUp-input7">
            <span class="inputLabelProfile">
              <i class="icon ion-locked"></i>&nbsp;&nbsp;{{ 'CONFIRM_PASSWORD' | translate }}
              <input id="inputRepeatpassword" type="password" placeholder="{{student.password}}" ng-model="modelProfile.passwordRepeat" ng-minlenght="6">
            </span>
          </label>
          <div class="button-bar action_buttons">
            <button id="signUp-button8" class="button button-calm button-block" ng-click="settingsForm()">{{ 'CANCEL' | translate }}</button>
            <button id="signUp-button9" ng-disabled="!modelProfile.password || !modelProfile.passwordRepeat || !modelProfile.password == modelProfile.passwordRepeat" id="signUp-btn9" class="button button-calm button-block" ng-click="updateStudentPassword(modelProfile.password)">CONFIRMAR</button>
          </div>
        </ion-list>
      </form>
      <form id="studentProfileFormEmail">
        <ion-list>
          <label class="item item-input list-elements" id="signUp-input5">
            <span class="inputLabelProfile">
              <i class="icon ion-at"></i>&nbsp;&nbsp;{{ 'EMAIL' | translate }}
              <input id="inputEmail" type="email" placeholder="{{student.email}}" ng-model="modelProfile.email">
            </span>
          </label>
          <div class="button-bar action_buttons">
            <button id="signUp-button8" class="button button-calm button-block" ng-click="settingsForm()">{{ 'CANCEL' | translate }}</button>
            <button id="signUp-button9" ng-disabled="!modelProfile.email" id="signUp-btn9" class="button button-calm button-block" ng-click="updateStudentEmail(modelProfile.email)">CONFIRMAR</button>
          </div>
        </ion-list>
      </form>
    </div>

    <!-- Settings Page -->

    <div ng-show="settingsView">
      <header id="pageHeader">
        <h3 id="studentHome-heading1"  class="margin-top-null">
          <a id="studentHome-dropdown" class="button button-light icon ion-home" ng-click="studentHomeForm()"></a>
          <span>{{ 'SETTINGS' | translate }}</span>
        </h3>
      </header>
      <div>
        <ion-list class="list-elements align-text-center">
          <ion-item ng-click="profileForm()">{{'PROFILE'| translate}}</ion-item>
          <ion-item ng-click="openPopoverLanguages($event)">{{'LANGUAGES'| translate}}</ion-item>
          <ion-item ng-controller="settingsCtrl" ng-click="showHelpPopup()">AYUDA</ion-item>
          <ion-item ng-controller="settingsCtrl" ng-click="showTermsPopup()">TERMINOS Y CONDICIONES</ion-item>
          <ion-item ng-controller="settingsCtrl" ng-click="showAboutPopup()">ACERCA DE</ion-item>
        </ion-list>
      </div>
      <div class="button-bar action_buttons">
        <a id="teacherSettings-button81" id="teacherSettings-btn81" class="button button-assertive  button-block button-clear icon ion-ios-close-empty logout" ng-click="logOut()">&nbsp;{{ 'LOG_OUT' | translate }}</a>
      </div>
    </div>

    <!-- Rules Items Page -->

    <div ng-show="rulesItemsView">
      <header id="pageHeader">
        <h3 id="class-heading2">
          <a id="teacherHome-dropdown" class="button button-light icon ion-home homeButton" ng-click="studentHomeForm()"></a>
          <span ng-click="classForm()">{{classroom.name}}</span>
          <a id="menu" class="button button-light icon ion-drag" ng-click="openPopoverStudentDefault($event)"></a>
          <div class="subheader">
            <br/>
            <p>{{ 'RULES' | translate }}</p>
          </div>
        </h3>
      </header>
      <div>
        <label class="item item-input list-elements" id="signUp-input3">
          <span class="inputLabelProfile">
            <i class="icon ion-thumbsup"></i>&nbsp;&nbsp;NIVEL EN CLASE:
            <span>{{studentLevel.level}} ({{studentLevel.title}})</span>
          </span>
        </label>
        <label class="item item-input list-elements" id="signUp-input3">
          <span class="inputLabelProfile">
            <i class="icon ion-thumbsup"></i>&nbsp;&nbsp;PUNTOS TOTALES:
            <span>{{classroomData.totalPoints}}</span>
          </span>
        </label>
      </div>
      <div ng-show="unlockedItemsExist">
        <h3 id="teacherHome-heading1" class="margin-top-null">ITEMS DESBLOQUEADOS</h3>
        <ion-list id="class-list5" class="list-elements">
          <ion-item class="list-student" id="class-list-item7" ng-repeat="item in itemsUnlocked" ng-click="setItem(item)">
            <h2>{{item.name}}</h2>
            <p>{{item.studentPoints}}</p>
          </ion-item>
        </ion-list>
      </div>
      <div ng-show="lockedItemsExist">
        <h3 id="teacherHome-heading1" class="margin-top-null">ITEMS BLOQUEADOS</h3>
        <ion-list id="teacherHome-list16" class="list-elements">
          <ion-item id="teacherHome-list-item47" class="list-student" ng-repeat="item in itemsLocked" ng-click="setItem(item)">
            <h2>{{item.name}}</h2>
            <p>{{item.studentPoints}}</p>
          </ion-item>
        </ion-list>
      </div>
    </div>

    <!-- Items Page -->

    <div ng-show="itemsView">
      <header id="pageHeader">
        <h3 id="achievements-heading13" class="achievements-hdg13">
          <a id="teacherHome-dropdown" class="button button-light icon ion-home homeButton" ng-click="studentHomeForm()"></a>
          <span ng-click="rulesItemsForm()">{{classroom.name}}</span>
          <a id="menu" class="button button-light icon ion-drag" ng-click="openPopoverStudentDefault($event)"></a>
          <div class="subheader">
            <br/>
            <p>{{item.name}}</p>
          </div>
        </h3>
      </header>
      <div>
        <label class="item item-input list-elements" id="signUp-input3">
          <span class="inputLabelProfile">
            <i class="icon ion-thumbsup"></i>&nbsp;&nbsp;PUNTOS DEL ITEM:
            <span>{{item.studentPoints}}</span>
          </span>
        </label>
      </div>
      <div class="list-student list-elements">
        <div class="avatar_content">
          <img src={{team.picture}} class="avatar">
        </div>
      </div>
      <div class="list-team list-elements">
        <form id="editItemForm" class="list list-student fullScreen">
          <ion-list>
            <label class="item item-input list-elements">
              <span class="input-label">{{ 'NAME' | translate }}</span>
              <p>{{item.name}}</p>
            </label>
            <label class="item item-input list-elements">
              <span class="input-label">{{ 'DESCRIPTION' | translate }}</span>
              <p>{{item.description}}</p>
            </label>
            <label class="item item-input list-elements">
              <span class="input-label">{{ 'REQUIREMENTS' | translate }}</span>
              <p>{{item.requirements}}</p>
            </label>
            <label class="item item-input list-elements">
              <span class="input-label">{{ 'MAX_SCORE' | translate }}</span>
              <p>{{item.maxScore}}</p>
            </label>
            <label class="item item-input list-elements">
              <span class="input-label">{{ 'SCORE' | translate }}</span>
              <p>{{item.score}}</p>
            </label>
            <ion-toggle toggle-class="toggle-calm" ng-model="modelItem.useForLevel" ng-disabled="true" ng-checked="item.useForLevel">USAR PARA NIVEL</ion-toggle>
          </ion-list>
        </form>
      </div>
      <div ng-show="unlockedAchievementsExist">
        <h3 id="teams-heading5" class="teams-hdg5">LOGROS DESBLOQUEADOS</h3>
        <ion-list id="items-list9" class="list-elements align-text-center">
          <ion-item id="items-list-item15" class="list-item" ng-click="setAchievement(achievement)" ng-repeat="achievement in achievementsUnlocked">
            <h2>{{achievement.name}}</h2>
          </ion-item>
        </ion-list>
      </div>
      <div ng-show="lockedAchievementsExist">
        <h3 id="teams-heading5" class="teams-hdg5">LOGROS BLOQUEADOS</h3>
        <ion-list id="items-list9" class="list-elements align-text-center">
          <ion-item id="items-list-item15" class="list-item" ng-click="setAchievement(achievement)" ng-repeat="achievement in achievementsLocked">
            <h2>{{achievement.name}}</h2>
          </ion-item>
        </ion-list>
      </div>
      <button ng-click="rulesItemsForm()" class="button button-positive button-block icon ion-arrow-return-left"></button>
    </div>

    <!-- Teams Page -->

    <div ng-show="teamsView">
      <header id="pageHeader">
        <h3 id="teams-heading5" class="teams-hdg5">
          <a id="teacherHome-dropdown" class="button button-light icon ion-home homeButton" ng-click="studentHomeForm()"></a>
          <span ng-click="rulesItemsForm()">{{classroom.name}}</span>
          <a id="menu" class="button button-light icon ion-drag" ng-click="openPopoverStudentDefault($event)"></a>
          <div class="subheader">
            <br/>
            <p>{{ 'TEAMS' | translate }}</p>
          </div>
        </h3>
      </header>
      <ion-list id="teams-list10" class="list-elements">
        <ion-item class="list-student" id="teams-list-item14" ng-repeat="team in teams" ng-click="setTeam(team)">
          <h2>{{team.name}}</h2>
        </ion-item>
      </ion-list>
    </div>

    <!-- Reward Shop Page -->

    <div ng-show="rewardShopView">
      <header id="pageHeader">
        <h3 id="class-heading2">
          <a id="teacherHome-dropdown" class="button button-light icon ion-home homeButton" ng-click="studentHomeForm()"></a>
          <span ng-click="rulesItemsForm()">{{classroom.name}}</span>
          <a id="menu" class="button button-light icon ion-drag" ng-click="openPopoverStudentDefault($event)"></a>
          <div class="subheader">
            <br/>
            <p>TIENDA DE RECOMPENSAS</p>
          </div>
        </h3>
      </header>
      <label class="item item-input list-elements" id="signUp-input3">
        <span class="inputLabelProfile">
          <i class="icon ion-thumbsup"></i>&nbsp;&nbsp;PUNTOS DISPONIBLES:
          <span>{{availablePoints}}</span>
        </span>
      </label>
      <div ng-show="unlockedRewardsExist">
        <h3 id="teacherHome-heading1" class="margin-top-null">RECOMPENSAS DESBLOQUEADAS</h3>
        <ion-list id="class-list5" class="list-elements">
          <ion-item class="list-student" id="class-list-item7" ng-repeat="reward in rewardsUnlocked" ng-click="setReward(reward)">
            <h2>{{reward.name}}</h2>
            <p>({{reward.price}})</p>
          </ion-item>
        </ion-list>
      </div>
      <div ng-show="lockedRewardsExist">
        <h3 id="teacherHome-heading1" class="margin-top-null">RECOMPENSAS BLOQUEADAS</h3>
        <ion-list id="class-list5" class="list-elements">
          <ion-item class="list-student" id="class-list-item7" ng-repeat="reward in rewardsLocked" ng-click="setReward(reward)">
            <h2>{{reward.name}}</h2>
            <p>({{reward.price}})</p>
          </ion-item>
        </ion-list>
      </div>
      <button class="button button-positive button-float addButton" ng-click="showActionsheetRewards()">
        <i class="icon ion-plus"></i>
      </button>
    </div>

    <!-- Missions Page -->

    <div ng-show="missionsView">
      <header id="pageHeader">
        <h3 id="class-heading2">
          <a id="teacherHome-dropdown" class="button button-light icon ion-home homeButton" ng-click="studentHomeForm()"></a>
          <span ng-click="rulesItemsForm()">{{classroom.name}}</span>
          <a id="menu" class="button button-light icon ion-drag" ng-click="openPopoverMissions($event)"></a>
          <div class="subheader">
            <br/>
            <p>MISIONES PENDIENTES</p>
          </div>
        </h3>
      </header>
      <ion-list id="class-list5" class="list-elements">
        <ion-item class="list-student" id="class-list-item7" ng-repeat="mission in missions" ng-click="setMission(mission)">
          <h2>{{mission.name}}</h2>
        </ion-item>
      </ion-list>
    </div>

    <!--  -->

  </ion-content>
</ion-view>