<ion-view title="Teacher Home" hide-nav-bar="true" id="page7">
  <ion-content padding="false" class="manual-ios-statusbar-padding">

    <!-- TeacherHome Page -->

    <div ng-show="teacherHomeView">
      <header id="pageHeader">
        <h3 id="teacherHome-heading1" class="margin-top-null">
          <span>{{ 'SELECT_YOUR_CLASS' | translate }}</span>
        </h3>
        <a id="menu" class="button button-light icon ion-drag" ng-click="openPopoverTeacherHome($event)"></a>
      </header>
      <ion-list id="teacherHome-list16" class="list-elements align-text-center">
        <ion-item id="teacherHome-list-item47" ng-repeat="class in classrooms" ng-click="setClassroom(class, false)" ng-hide="class.archived">
          <span class="ion-university"></span><br>{{class.name}}
        </ion-item>
      </ion-list>
      <div class="button-bar action_buttons">
        <button id="teacherHome-button12" ng-click="showModalNewClass()" class="button button-calm  button-block bold-font">{{ 'ADD_CLASS' | translate }}</button>
      </div>
      <div ng-show="archivedClassroomsToShow">
        <h3 id="teacherHome-heading1" class="margin-top-null">{{ 'CLASSES_ARCHIVED' | translate }}</h3>
        <ion-list id="teacherHome-list16" class="list-elements align-text-center">
          <ion-item id="teacherHome-list-item47" ng-repeat="class in classrooms" ng-click="setClassroom(class, true)" ng-show="class.archived">
            <span class="ion-university"></span><br>{{class.name}}
          </ion-item>
        </ion-list>
      </div>
    </div>

    <!-- Profile Page -->

    <div ng-show="profileView">
      <form id="teacherProfileForm" class="list">
        <ion-list>
          <header id="pageHeader">
            <h3 id="teams-heading5" class="margin-top-null">
              <a id="teacherHome-dropdown" class="button button-light icon ion-home homeButton" ng-click="teacherHomeForm()"></a>
              <span>{{ 'PROFILE' | translate }}</span>
            </h3>
          </header>
          <div class="avatar_margen">
            <ion-item class ="teacherAvatar">
              <img src={{teacher.avatar}} class="avatar">
            </ion-item>
          </div>
          <label ng-show="!isIOS" class="button button-calm inputfile">
            {{ 'SELECT_IMAGE' | translate }}
            <input class="button button-light button-block button-outline" type="file" id="inputAvatar" ng-click="updateTeacherAvatar()">
          </label>
          <input class="button button-light button-block button-outline" ng-show="isIOS" type="file" id="inputAvatar" ng-click="updateTeacherAvatar()">
          <label class="item item-input list-elements" id="signUp-input3">
            <span class="inputLabelProfile">
              <i class="icon ion-person"></i>&nbsp;&nbsp;{{ 'NAME' | translate }}
              <input id="inputName" type="text" placeholder="{{teacher.name}}" ng-model="modelProfile.name">
            </span>
          </label>
          <label class="item item-input list-elements" id="signUp-input3">
            <span class="inputLabelProfile">
              <i class="icon ion-person"></i>&nbsp;&nbsp;{{ 'SURNAME' | translate }}
              <input id="inputSurname" type="text" placeholder="{{teacher.surname}}" ng-model="modelProfile.surname">
            </span>
          </label>
          <label class="item item-input list-elements" id="signUp-input3">
            <span class="inputLabelProfile">
              <i class="icon ion-clipboard"></i>&nbsp;&nbsp;{{ 'SCHOOL' | translate }}
              <input id="inputAvatar" type="text" placeholder="{{teacher.school}}" ng-model="modelProfile.school">
            </span>
          </label>
          <div class="button-bar action_buttons">
            <button id="signUp-button8" class="button button-calm button-block" ng-click="settingsForm()">{{ 'CANCEL' | translate }}</button>
            <button id="signUp-button9" ng-disabled="!modelProfile.name && !modelProfile.surname && !modelProfile.school" id="signUp-btn9" class="button button-calm button-block" ng-click="editTeacherData(modelProfile.name, modelProfile.surname, modelProfile.school)">{{ 'SAVE_CHANGES' | translate }}</button>
          </div>
        </ion-list>
      </form>
      <form id="teacherProfileFormPassword">
        <ion-list>
          <label class="item item-input list-elements" id="signUp-input6">
            <span class="inputLabelProfile">
              <i class="icon ion-locked"></i>&nbsp;&nbsp;{{ 'PASSWORD' | translate }}
              <input id="inputPassword" type="password" placeholder="{{teacher.password}}" ng-model="modelProfile.password" ng-minlenght="6">
            </span>
          </label>
          <label class="item item-input list-elements" id="signUp-input7">
            <span class="inputLabelProfile">
              <i class="icon ion-locked"></i>&nbsp;&nbsp;{{ 'CONFIRM_PASSWORD' | translate }}
              <input id="inputRepeatpassword" type="password" placeholder="{{teacher.password}}" ng-model="modelProfile.passwordRepeat" ng-minlenght="6">
            </span>
          </label>
          <div class="button-bar action_buttons">
            <button id="signUp-button8" class="button button-calm button-block" ng-click="settingsForm()">{{ 'CANCEL' | translate }}</button>
            <button id="signUp-button9" ng-disabled="!modelProfile.password || !modelProfile.passwordRepeat || !modelProfile.password == modelProfile.passwordRepeat" id="signUp-btn9" class="button button-calm button-block" ng-click="updateTeacherPassword(modelProfile.password)">{{ 'SAVE_CHANGES' | translate }}</button>
          </div>
        </ion-list>
      </form>
      <form id="teacherProfileFormEmail">
        <ion-list>
          <label class="item item-input list-elements" id="signUp-input5">
            <span class="inputLabelProfile">
              <i class="icon ion-at"></i>&nbsp;&nbsp;{{ 'EMAIL' | translate }}
              <input id="inputEmail" type="email" placeholder="{{teacher.email}}" ng-model="modelProfile.email">
            </span>
          </label>
          <div class="button-bar action_buttons">
            <button id="signUp-button8" class="button button-calm button-block" ng-click="settingsForm()">{{ 'CANCEL' | translate }}</button>
            <button id="signUp-button9" ng-disabled="!modelProfile.email" id="signUp-btn9" class="button button-calm button-block" ng-click="updateTeacherEmail(modelProfile.email)">{{ 'SAVE_CHANGES' | translate }}</button>
          </div>
        </ion-list>
      </form>
    </div>

    <!-- Settings Page -->

    <div ng-show="settingsView">
      <header id="pageHeader">
        <h3 id="teacherHome-heading1" class="margin-top-null">
          <a id="teacherHome-dropdown" class="button button-light icon ion-home homeButton" ng-click="teacherHomeForm()"></a>
          <span>{{ 'SETTINGS' | translate }}</span>
        </h3>
      </header>
      <div>
        <ion-list class="list-elements align-text-center">
          <ion-item ng-click="profileForm()"><i class="icon ion-compose"></i>&nbsp;&nbsp;{{'PROFILE'| translate}}</ion-item>
          <ion-item ng-click="openPopoverLanguages($event)"><i class="icon ion-earth"></i>&nbsp;&nbsp;{{'LANGUAGES'| translate}}</ion-item>
          <ion-item ng-controller="settingsCtrl" ng-click="showHelpPopup()"><i class="icon ion-help-circled"></i>&nbsp;&nbsp;{{'HELP'| translate}}</ion-item>
          <ion-item ng-controller="settingsCtrl" ng-click="showTermsPopup()"><i class="icon ion-document-text"></i>&nbsp;&nbsp;{{'TERMS_CONDITIONS'| translate}}</ion-item>
          <ion-item ng-controller="settingsCtrl" ng-click="showAboutPopup()"><i class="icon ion-information-circled"></i>&nbsp;&nbsp;{{'ABOUT'| translate}}</ion-item>
        </ion-list>
      </div>
      <div class="button-bar action_buttons">
        <a id="teacherSettings-button81" id="teacherSettings-btn81" class="button button-assertive  button-block button-clear logout" ng-click="logOut()">{{ 'LOG_OUT' | translate }}&nbsp;&nbsp;<span class="icon ion-log-out"></span></a>
      </div>
    </div>

    <!-- Class Students Page -->

    <div ng-show="classStudentsView">
      <header id="pageHeader">
        <h3 id="class-heading2">
          <a id="teacherHome-dropdown" class="button button-light icon ion-home homeButton" ng-click="teacherHomeForm()"></a>
          <span>{{classroom.name}}</span>
          <a id="menu" class="button button-light icon ion-drag" ng-click="openPopoverClassStudents($event)"></a>
          <div class="subheader">
            <br/>
            <p>{{'STUDENTS'| translate}}</p>
          </div>
        </h3>
      </header>
      <div id="class-button-bar5" class="button-bar">
        <button id="class-button26" ng-click="classForm()"  class="button button-light  button-outline"><i class="icon ion-person"></i>&nbsp;&nbsp;{{'STUDENTS'| translate}}</button>
        <button id="class-button29" ng-click="teamsForm()"  class="button button-light  button-outline"><i class="icon ion-person-stalker"></i>&nbsp;&nbsp;{{ 'TEAMS' | translate }}</button>
      </div>
      <button class="button button-calm  button-block" ng-click="showNotificationsModal()" ng-show="notifications.length > 0"><i class="icon ion-alert"></i>&nbsp;&nbsp;{{'YOU_HAVE_NOTIFICATIONS'| translate}}</button>
      <ion-list id="class-list5" class="list-elements">
        <ion-item class="list-student item item-avatar" id="class-list-item7" ng-repeat="student in students" ng-show="student.classrooms[classroom.id].inClass" ng-click="setStudent(student)">
          <img src="{{!classroom.studentsView ? student.avatar : student.picture}}">
          <h2>{{student.name}}</h2>
          <p>{{student.surname}}</p>
        </ion-item>
      </ion-list>
      <div class="button-bar action_buttons">
        <button id="students-button44" id="students-btn44" class="button button-calm  button-block" ng-click="showModalNewStudentDialog()" ng-disabled="isArchivedClassroom">{{ 'ADD_STUDENT' | translate }}</button>
      </div>
    </div>

    <!-- Class Teams Page -->

    <div ng-show="classTeamsView">
      <header id="pageHeader">
        <h3 id="teams-heading5" class="teams-hdg5">
          <a id="teacherHome-dropdown" class="button button-light icon ion-home homeButton" ng-click="teacherHomeForm()"></a>
          <span>{{classroom.name}}</span>
          <a id="menu" class="button button-light icon ion-drag" ng-click="openPopoverClassTeams($event)"></a>
          <div class="subheader">
            <br/>
            <p>{{ 'TEAMS' | translate }}</p>
          </div>
        </h3>
      </header>
      <div id="class-button-bar5" class="button-bar">
        <button id="class-button26" ng-click="classForm()"  class="button button-light  button-outline"><i class="icon ion-person"></i>&nbsp;&nbsp;{{'STUDENTS'| translate}}</button>
        <button id="class-button29" ng-click="teamsForm()"  class="button button-light  button-outline"><i class="icon ion-person-stalker"></i>&nbsp;&nbsp;{{ 'TEAMS' | translate }}</button>
      </div>
      <ion-list id="teams-list10" class="list-elements">
        <ion-item class="list-student item item-avatar" id="teams-list-item14" ng-repeat="team in teams" ng-click="setTeam(team)">
          <img src="{{team.picture}}">
          <h2>{{team.name}}</h2>
        </ion-item>
      </ion-list>
      <div class="button-bar action_buttons">
        <button id="teams-button44" ng-click="showModalNewTeamDialog()" id="teams-btn44" class="button button-calm  button-block" ng-disabled="isArchivedClassroom">{{ 'ADD_TEAM' | translate }}</button>
      </div>
      <div class="button-bar action_buttons">
        <button id="teams-button44" ng-click="showModalQuantityRandomTeams()" id="teams-btn44" class="button button-calm  button-block" ng-disabled="isArchivedClassroom">{{ 'CREATE_RANDOM_TEAMS' | translate }}</button>
      </div>
    </div>

    <!-- Rules Page -->

    <div ng-show="rulesView">
      <header id="pageHeader">
        <h3 id="rules-heading11" class="rules-hdg11">
          <a id="teacherHome-dropdown" class="button button-light icon ion-home homeButton" ng-click="teacherHomeForm()"></a>
          <span ng-click="classForm()">{{classroom.name}}</span>
          <a id="menu" class="button button-light icon ion-drag" ng-click="openPopoverTeacherDefault($event)"></a>
          <div class="subheader">
            <br/>
            <p>{{ 'RULES' | translate }}</p>
          </div>
        </h3>
      </header>
      <ion-list id="items-list9">
        <ion-item id="items-list-item15" class="list-student" ng-repeat="item in items" ng-click="setItem(item)">
            <h2>{{item.name}}</h2>
            <p>{{item.score}}</p>
        </ion-item>
      </ion-list>
      <div class="button-bar action_buttons">
        <button id="items-button67" ng-click="showModalNewItem()" class="button button-calm  button-block" ng-disabled="isArchivedClassroom">{{ 'ADD_ITEM' | translate }}</button>
      </div>
    </div>

    <!-- Items Page -->

    <div ng-show="itemsView">
      <header id="pageHeader">
        <h3 id="achievements-heading13" class="achievements-hdg13">
          <a id="teacherHome-dropdown" class="button button-light icon ion-home homeButton" ng-click="teacherHomeForm()"></a>
          <span ng-click="classForm()">{{classroom.name}}</span>
          <a id="menu" class="button button-light icon ion-drag" ng-click="openPopoverTeacherDefault($event)"></a>
          <div class="subheader">
            <br/>
            <p>{{item.name}}</p>
          </div>
        </h3>
      </header>
      <div>
        <form id="editItemForm">
          <label class="item item-input list-elements">
            <span class="input-label">{{ 'NAME' | translate }}</span>
            <input type="text" placeholder="{{item.name}}" ng-model="modelItem.name" ng-disabled="isArchivedClassroom">
          </label>
          <label class="item item-input list-elements">
            <span class="input-label">{{ 'DESCRIPTION' | translate }}</span>
            <input type="text" placeholder="{{item.description}}" ng-model="modelItem.description" ng-disabled="isArchivedClassroom">
          </label>
          <label class="item item-input list-elements">
            <span class="input-label">{{ 'REQUIREMENTS' | translate }}</span>
            <input type="text" placeholder="{{item.requirements}}" ng-model="modelItem.requirements" ng-disabled="isArchivedClassroom">
          </label>
          <label class="item item-input list-elements">
            <span class="input-label">{{ 'MAX_SCORE' | translate }}</span>
            <input type="number" placeholder="{{item.maxScore}}" ng-model="modelItem.maxScore" ng-disabled="isArchivedClassroom">
          </label>
          <label class="item item-input list-elements">
            <span class="input-label">{{ 'SCORE' | translate }}</span>
            <input type="number" placeholder="{{item.score}}" ng-model="modelItem.score" ng-disabled="isArchivedClassroom">
          </label>
         <ion-toggle toggle-class="toggle-calm" ng-model="modelItem.useForLevel" ng-checked="item.useForLevel" ng-disabled="isArchivedClassroom">{{ 'USE_FOR_LEVEL' | translate }}</ion-toggle>
        </form>
      </div>
      <div>
        <form>
          <div class="button-bar action_buttons">
            <button class="button button-calm  button-block" ng-click="rulesForm()">{{ 'CANCEL' | translate }}</button>
            <button class="button button-calm  button-block" ng-click="editItem(modelItem.name, modelItem.description, modelItem.requirements, modelItem.score, modelItem.maxScore, modelItem.useForLevel)" ng-disabled="(!modelItem.name && !modelItem.description && !modelItem.requirements && !modelItem.maxScore && !modelItem.score && !modelItem.useForLevel) || isArchivedClassroom">{{ 'EDIT' | translate }}</button>
          </div>
        </form>
      </div>      
      <h3 id="teams-heading5" class="teams-hdg5">{{ 'ACHIEVEMENTS' | translate }}</h3>
      <ion-list id="items-list9">
        <ion-item class="item item-avatar list-student" id="items-list-item15" ng-click="setAchievement(achievement)" ng-repeat="achievement in achievements">
          <img src="{{achievement.badge}}">
          <h2>{{achievement.name}}</h2>
        </ion-item>
      </ion-list>
      <div class="button-bar action_buttons">
        <button id="achievements-button91" ng-click="showModalNewAchievement()" class="button button-calm  button-block" ng-disabled="isArchivedClassroom">{{ 'ADD_ACHIEVEMENT' | translate }}</button>
      </div>
    </div>

    <!-- Achievements Page -->

    <div ng-show="achievementsView">
      <form id="editAchievementForm" class="list">
        <ion-list>
          <header id="pageHeader">
            <h3 id="achievements-heading13" class="achievements-hdg13">
              <a id="teacherHome-dropdown" class="button button-light icon ion-home homeButton" ng-click="teacherHomeForm()"></a>
              <span ng-click="classForm()">{{classroom.name}}</span>
              <a id="menu" class="button button-light icon ion-drag" ng-click="openPopoverTeacherDefault($event)"></a>
              <div class="subheader">
                <br/>
                <p>{{achievement.name}}</p>
              </div>
            </h3>
          </header>
          <div class="avatar_margen">
            <ion-item class ="teacherAvatar">
              <img src={{achievement.badge}} class="avatar">
            </ion-item>
          </div>
          <label ng-show="!isIOS" class="button button-calm inputfile">
            {{ 'SELECT_IMAGE' | translate }}
            <input class="button button-light button-block button-outline" type="file" id="inputAchievementPicture" ng-click="updateAchievementPicture()" ng-disabled="isArchivedClassroom">
          </label>
          <input class="button button-light button-block button-outline" ng-show="isIOS" type="file" id="inputAchievementPicture" ng-click="updateAchievementPicture()" ng-disabled="isArchivedClassroom">
          <label class="item item-input list-elements">
            <span class="input-label">{{ 'NAME' | translate }} </span>
            <input type="text" placeholder="{{achievement.name}}" ng-model="modelAchievement.name" ng-disabled="isArchivedClassroom">
          </label>
          <label class="item item-input list-elements">
            <span class="input-label">{{ 'DESCRIPTION' | translate }}</span>
            <input type="text" placeholder="{{achievement.description}}" ng-model="modelAchievement.description" ng-disabled="isArchivedClassroom">
          </label>
          <label class="item item-input list-elements">
            <span class="input-label">{{ 'REQUIREMENTS' | translate }}</span>
            <input type="number" placeholder="{{achievement.requirements}}" ng-model="modelAchievement.requirements" ng-disabled="isArchivedClassroom">
          </label>
          <label class="item item-input list-elements">
            <span class="input-label">{{ 'MAX_LEVEL' | translate }}</span>
            <input type="number" placeholder="{{achievement.maxLevel}}" ng-model="modelAchievement.maxLevel" ng-disabled="isArchivedClassroom">
          </label>
        </ion-list>
      </form>
      <div class="button-bar action_buttons">
        <button class="button button-calm  button-block" ng-click="itemsForm()">{{ 'CANCEL' | translate }}</button>
        <button class="button button-calm  button-block" ng-click="editAchievement(modelAchievement.name, modelAchievement.description, modelAchievement.requirements, modelAchievement.pointsToLevel, modelAchievement.maxLevel)" ng-disabled="(!modelAchievement.name && !modelAchievement.description && !modelAchievement.requirements && !modelAchievement.pointsToLevel && !modelAchievement.maxLevel) || isArchivedClassroom">{{ 'EDIT_ACHIEVEMENT' | translate }}</button>
      </div>
    </div>

    <!-- Missions Page -->

    <div ng-show="missionsView">
      <header id="pageHeader">
        <h3 id="class-heading2">
          <a id="teacherHome-dropdown" class="button button-light icon ion-home homeButton" ng-click="teacherHomeForm()"></a>
          <span ng-click="classForm()">{{classroom.name}}</span>
          <a id="menu" class="button button-light icon ion-drag" ng-click="openPopoverMissions($event)"></a>
          <div class="subheader">
            <br/>
            <p>{{ 'MISSIONS' | translate }}</p>
          </div>
        </h3>
      </header>
      <div>
        <ion-list id="class-list5" class="list-elements">
          <ion-item class="list-student" id="class-list-item7" ng-click="setMission(mission)" ng-repeat="mission in missions" ng-hide="mission.finished">
            <h2>{{mission.name}}</h2>
          </ion-item>
        </ion-list>
      </div>
      <div class="button-bar action_buttons">
        <button id="class-button31" ng-click="setNewMissionNamePopup()" class="button button-calm  button-block" ng-disabled="isArchivedClassroom">{{ 'ADD_MISSION' | translate }}</button>
      </div>
      <div ng-show="finishedMissionsToShow">
        <h3 class="margin-top-null">{{ 'MISSIONS_ENDED' | translate }}</h3>
        <ion-list class="list-elements">
          <ion-item class="list-student" ng-click="setMission(mission)" ng-repeat="mission in missions" ng-show="mission.finished">
            <h2>{{mission.name}}</h2>
          </ion-item>
        </ion-list>
      </div>
    </div>

    <!-- Rewards Page -->

    <div ng-show="rewardShopView">
      <header id="pageHeader">
        <h3 id="class-heading2">
          <a id="teacherHome-dropdown" class="button button-light icon ion-home homeButton" ng-click="teacherHomeForm()"></a>
          <span ng-click="classForm()">{{classroom.name}}</span>
          <a id="menu" class="button button-light icon ion-drag" ng-click="openPopoverTeacherDefault($event)"></a>
          <div class="subheader">
            <br/>
            <p>{{ 'REWARD_SHOP' | translate }}</p>
          </div>
        </h3>
      </header>
      <ion-list id="class-list5" class="list-elements">
        <ion-item id="class-list-item7" ng-repeat="reward in rewards" ng-click="setReward(reward)">
          <h2>{{reward.name}}</h2>
        </ion-item>
      </ion-list>
      <div class="button-bar action_buttons">
        <button id="class-button31" ng-click="showModalNewReward()" class="button button-calm  button-block" ng-disabled="isArchivedClassroom">{{ 'ADD_REWARD' | translate }}</button>
      </div>
    </div>

  </ion-content>

  <ion-footer>

    <button ng-show="teacherHomeView" class="button button-positive button-float addButton" ng-click="showActionsheetTeacherHome()">
      <i class="icon ion-plus"></i>
    </button>

    <button ng-show="classStudentsView" class="button button-positive button-float addButton" ng-disabled="isArchivedClassroom" ng-click="showActionsheetClassStudents()">
      <i class="icon ion-plus"></i>
    </button>

    <button ng-show="classTeamsView" class="button button-positive button-float addButton" ng-click="showActionsheetClassTeams()" ng-disabled="isArchivedClassroom">
      <i class="icon ion-plus"></i>
    </button>

    <button ng-show="rulesView" class="button button-positive button-float addButton" ng-click="showActionsheetItems()" ng-disabled="isArchivedClassroom">
      <i class="icon ion-plus"></i>
    </button>

    <button ng-show="itemsView" class="button button-positive button-float addButton" ng-click="showActionsheetAchievements()" ng-disabled="isArchivedClassroom">
        <i class="icon ion-plus"></i>
    </button>

    <button ng-show="missionsView" class="button button-positive button-float addButton" ng-click="showActionsheetMissions()" ng-disabled="isArchivedClassroom">
      <i class="icon ion-plus"></i>
    </button>

    <button ng-show="rewardShopView" class="button button-positive button-float addButton" ng-click="showActionsheetRewards()" ng-disbaled="isArchivedClassroom">
      <i class="icon ion-plus"></i>
    </button>

  </ion-footer>

</ion-view>