/*
	CSS designed by the Ireland Team
	**********************************
	Primary color: rgb(221, 104, 10) 
	Secundary color: rgb(241, 147, 19)
	Background color: background-color: rgb(65, 65, 65) 
	Buttons: rgb(221, 104, 10)
	Buttons hover: rgb(241, 147, 19)
*/

/*
 * COLOURS
 */

/* Background */
ion-view, ion-modal-view{ background-color: rgb(65, 65, 65) !important; }

/* Logout button */
.logout{ color: rgba(255, 255, 255, 0.8) !important; }

/* Login Screen */
.login_screen .button{ background: none !important;}

#login-button-bar1 .button{ background-color: rgb(214, 89, 13) !important; }
#login-button-bar1 .button:hover{ background-color: rgb(255, 127, 0) !important; color: white  !important; }

#login-button2{ background: none !important;}
.button.button-calm, .logout { background-color: rgb(241, 147, 19) !important;}
.button.button-calm:hover, .button.button-calm:focus { background-color: rgb(221, 104, 10) !important; color: white !important;}

.verPass{ color: rgb(214, 89, 13) !important;}

/* Top Menu */
.button-bar a, .button-bar button{ border: none !important;	background-color: rgb(221, 104, 10) !important; border-bottom: 2px solid #f9f9f9 !important; color: white !important;}
.button-bar a:hover, button:hover{ background-color: rgb(241, 147, 19) !important;} 

/* Missions */
.list-mission{ background: #f9f9f9 !important;}

/* Lists */
.list-elements { background: rgba(255, 255, 255, 0.8) none repeat scroll 0 0;}
.list-elements:hover, .list-elements:focus { background: rgba(255, 255, 255, 1) none repeat scroll 0 0;}
.button#login-button6, .button#login-button7{ background-color: rgba(224,133,15,1) !important; }

ion-modal-view h2, h3{ background: rgba(241, 147, 19,1); color: white;}

ion-modal-view h2{ background-color: rgb(221, 104, 10);}