/*
 * GENERAL STYLES
 */
.button{ border-radius: 10px !important; margin: 1%; border: none !important; background: none !important;}
.action_buttons .button{ border: none !important; font-size: 1.1em !important;}

.logoContainer{ text-align: center; }
.logoOwn{ width: 25%; }

.float_right{ float: right; }
.float_left{ float: left; }

.avatar_content{ margin: 0px; line-height: 250px; text-align: center; border-radius: 10px; background-color: rgb(232, 235, 239);}
	.avatar_content i{ font-size: 60px; color: #c4c4c4; }

.alumnoAvatar{ border-radius: 100%; width: 80%; margin: 5% 0 0 10%; }

.item-options{ background: #c4c4c4; }

.button-assertive{ background: #a51a1a !important;}

.dateInput{ padding:6px 0; text-align: center; border:0; width: 100%;}

.fullScreen{ width: 100%; }

.puntuacion{ padding-left: 1%; text-transform: uppercase; color: white; font-weight: 400; }

/*
 * LOGIN SCREEN
 */
.login_screen .button{ border: none !important; font-size: 1.1em !important; }
#login-button2{ border: none !important;}
.verPass{ font-size: 25px; margin-right: 20px;}
#logoContent{ text-align: center; }
.pipo{ width: 25%;}

/*
 * TOP MENU 
 */
.button.button-light{ 
	border-radius: 0 !important; margin: 0 !important;
}
.button-bar a, .button-bar button{ font-size: 1.3em !important; font-weight: 100;}

/* 
 * LISTS
 */
.list-elements { border-radius: 10px; border-width: 0; margin-bottom: 8px;}

.item { border-radius: 10px !important; margin: 1%;}

.list-team, .list-team:hover { background: none !important; margin-top: 15px; float: right;}

ion-modal-view h2, h3{ margin: 0 !important; padding: 10px 0; font-size: 1.5em; font-weight: 100; text-align: center;}

.list-student-team { height: auto;}

.list-item-header, .list-item{ width: 30%; }

/*
 * TEACHERS
 */
#teacherHome-list16 ion-item{}
#teacherHome-list16 ion-item span{font-size: 30px;}

/*
 * SETTINGS 
 */
#teacherSettings-btn81{ position: absolute !important; bottom: 0 !important; }

/*
 * TEACHER PROFILE
 */
 .teacherAvatar{ background: none; border: none; text-align: center;  }
 .teacherAvatar img{ border-radius: 100%; width: 40% !important; }

 .inputLabelProfile{ width: 100%; }

/*
* STUDENT
*/
.list-student{ float:left; margin-top: 20px;}
.list-student+.list-student{}
.list-student:hover{ }

ion-modal-view .list-student, ion-modal-view .list-student:hover{ background: none; }
#attendance-list7 .list-student, #attendance-list7 .list-student:hover{ background: white; }

#studentHome-container28{ width: 48% !important; }
#studentHome-container28 img{ width: 100%; border-radius: 100%; margin-top:3px;}

#studentHome-form1, #studentHome-form1:hover{ background: none !important; }

/*
* MISSIONS
*/
.list-mission{ width: 48%; margin: 1% !important; float: left;}
.list-mission-header{ width: 100%; margin: 0; }

/*
* RULES > ITEMS, MEDALS, ACHIEVEMENTS
*/
#page20 .item, #page22 .item, #page24 .item{ width: 30% !important; }

/*
 * DATE CONTROLLER
 */
.date_controller{}
	.date_controller button{
		width: 10%; float: left;
		
	}
	.date_controller input{
		width: 70%; float: left;
		
	}

/* IONIC STYLES */
.platform-ios .manual-ios-statusbar-padding{
padding-top:20px;
}
.manual-remove-top-padding{
padding-top:0px; 
}
.manual-remove-top-padding .scroll{
padding-top:0px !important;
}
ion-list.manual-list-fullwidth div.list, .list.card.manual-card-fullwidth {
margin-left:-10px;
margin-right:-10px;
}
ion-list.manual-list-fullwidth div.list > .item, .list.card.manual-card-fullwidth > .item {
border-radius:0px;
border-left:0px;
border-right: 0px;
}
.show-list-numbers-and-dots ul{
list-style-type: disc;
padding-left:40px;
}
.show-list-numbers-and-dots ol{
list-style-type: decimal;
padding-left:40px;
}