/*
	CSS designed by the Spanish Team
	**********************************
	Primary color: 
	Secundary color: 
	Background color: #387ef5
	Buttons: 
	Buttons hover: 
*/

/* Background */
ion-view, ion-modal-view{ background-color: #387ef5 !important; }

/* Logout button */
.logout{ color: rgba(255, 255, 255, 0.8) !important; }

/* Content for avatar */
.alumnoAvatar{ border-radius: 100%; width: 80%; margin: 5% 0 0 10%; }
.avatar_content{ background-color: rgb(232, 235, 239);} 
	.avatar_content i{ color: #c4c4c4; }

/* Buttons */

/* Login Screen */
.login_screen .button{ background: none !important;}

#login-button-bar1 .button{ background-color: rgba(17, 193, 243, 0.7) !important;}
#login-button-bar1 .button:hover{ background-color: rgba(17, 193, 243, 0.5) !important; color: white  !important; }

#login-button2{ background: none !important;}
.button.button-calm, .logout { background-color: rgba(17, 193, 243, .7) !important;}
.button.button-calm:hover, .button.button-calm:focus { background-color: rgba(17, 193, 243, 1) !important; color: white !important;}

.verPass{ color: rgba(17, 193, 243, 0.7) !important;}

/* Top Menu */
.button-bar a, .button-bar button{ border: none !important;	background-color: #17498B !important; border-bottom: 2px solid #f9f9f9 !important; color: white !important;}
.button-bar a:hover, button:hover{ background-color: #153E74 !important;} 

/* Missions */
.list-mission{ background: #f9f9f9;}

/* Lists */
.list-elements { background: rgba(255, 255, 255, 0.8) none repeat scroll 0 0;}
.list-elements:hover, .list-elements:focus { background: rgba(255, 255, 255, 1) none repeat scroll 0 0;}
.button#login-button6, .button#login-button7{ background-color: rgba(224,133,15,1) !important; }

ion-modal-view h2, h3{ background: rgba(255,255,255,.2); color: white;}

ion-modal-view h2{ background-color: #387ef5;}