/*
 * GENERAL STYLES
 */
body .addButton{ 
	position: fixed; bottom: 0; right: 0; z-index: 999 !important; margin: 10px 10px;
	background: rgba(0,0,0,.9) !important; border-radius: 100% !important;
	box-shadow: 2px 3px 2px rgba(0,0,0,.5);
}
.button{ border-radius: 10px !important; margin: 1%; border: none !important; background: none !important;}
.action_buttons .button{ border: none !important; font-size: 1.1em !important;}

.logoContainer{ text-align: center; }
.logoOwn{ width: 25%; }

.float_right{ float: right; }
.float_left{ float: left; }

.avatar_content{ margin: 0px; line-height: 250px; text-align: center; border-radius: 10px; background-color: rgb(232, 235, 239);}
	.avatar_content i{ font-size: 60px; color: #c4c4c4; }

.alumnoAvatar{ border-radius: 100%; width: 80%; margin: 5% 0 0 10%; }

.item-options{ background: #c4c4c4; }

.button-assertive{ background: red !important;}

.dateInput{ padding:6px 0; text-align: center; border:0; width: 100%;}

.fullScreen{ width: 100%; }

.puntuacion{ padding-left: 1%; text-transform: uppercase; color: white; font-weight: 400; }

#quantityInput{ width: 98% !important; }

/*
 * LOGIN SCREEN
 */
.login_screen .button{ border: none !important; font-size: 1.1em !important; }
#login-button2{ border: none !important;}
.verPass{ font-size: 25px; margin-right: 20px;}
#logoContent{ text-align: center; }
.pipo{ width: 25%;}

/*
 * TOP MENU 
 */
header#pageHeader{ 
	width: 100%; float: left;
}
	header#pageHeader a#menu{
		position: absolute; right: 0; top: 0; color: #d9d9d9;
	}
	header#pageHeader a.homeButton{ position: absolute; top:0; left: 0; color: #d9d9d9;}

.button.button-light{ 
	border-radius: 0 !important; margin: 0 !important;
}
.button-bar a, .button-bar button{ font-size: .95em !important; font-weight: 100; text-transform: uppercase;}

/* 
 * LISTS
 */
.list-elements { border-radius: 10px; border-width: 0; margin-bottom: 8px;}

.item { border-radius: 10px !important; margin: 1%;}
.itemPopover { padding: 10px;}

.list-team, .list-team:hover { background: none !important; margin-top: 15px; float: right;}

ion-modal-view h2, h3{ text-transform: uppercase; margin: 0 !important; font-size: 1.5em; font-weight: 100; text-align: center; background: rgba(0,0,0,.65); padding: 10px 0 !important;}
h3 .subheader br{  display: none;}
h3 .subheader p{ font-size: 0.9em; background: rgba(162, 180, 131, 0.2); padding: 10px; margin: 0; text-transform: lowercase; font-style: italic; margin: 10px 0 -10px 0;}

.list-student-team { height: auto;}

.list-item-header, .list-item{ width: 30%; }

/*
 * TEACHERS
 */
#teacherHome-list16 ion-item{}
#teacherHome-list16 ion-item span{font-size: 30px;}

/*
 * SETTINGS 
 */
#teacherSettings-btn81{ position: absolute !important; bottom: 0 !important; }

/*
 * TEACHER PROFILE
 */
 .avatar_margen, .content_margen{ float: left; padding: 20px 0; width: 100%;}
 .teacherAvatar {
    border-radius: 100% !important;
    display: block;
    height: 250px;
    margin: auto;
    max-width: 100%;
    overflow: hidden;
    width: 250px;
    transition: all 1s;
    padding: 0;
    border: 0 !important;
 }

 .teacherAvatar img{
    height: 100%;
    width: 100%;
}

/* Small dispositivos (tabletas, 768px y mas */
  @media (max-width: 768px) {

	 ion-item.teacherAvatar {
	    height: 200px;
	    width: 200px;
	    transition: all 1s;
	    background: none;
	 }

  }

 .inputLabelProfile{ width: 100%; }

/*
* STUDENT
*/
.list-student{ float:left; margin-top: 20px;}
.list-student+.list-student{}
.list-student:hover{ }

ion-modal-view .list-student, ion-modal-view .list-student:hover{}

#attendance-list7 .list-student, #attendance-list7 .list-student:hover,
.list_tests, .list_tests:hover{ background: white; }

.list_tests, .list_tests:hover{ padding: 0px; margin-top: 20px; margin-bottom: 20px;}
.list_tests ion-item{ margin: 0px !important;}

#studentHome-container28{ width: 48% !important; }
#studentHome-container28 img{ width: 100%; border-radius: 100%; margin-top:3px;}

#studentHome-form1, #studentHome-form1:hover{ background: none !important; }

/*
 * MISSIONS
 */
.list-mission{ width: 48%; margin: 1% !important; float: left;}
.list-mission-header{ width: 100%; margin: 0; }

/*
 * RULES > ITEMS, MEDALS, ACHIEVEMENTS
 */
#page20 .item, #page22 .item, #page24 .item{ width: 30% !important; }

/*
 * DATE CONTROLLER
 */
.date_controller{}
	.date_controller button{
		width: 10%; float: left;
		
	}
	.date_controller input{
		width: 70%; float: left;
		
	}

/* IONIC STYLES */
.platform-ios .manual-ios-statusbar-padding{
padding-top:20px;
}
.manual-remove-top-padding{
padding-top:0px; 
}
.manual-remove-top-padding .scroll{
padding-top:0px !important;
}
ion-list.manual-list-fullwidth div.list, .list.card.manual-card-fullwidth {
margin-left:-10px;
margin-right:-10px;
}
ion-list.manual-list-fullwidth div.list > .item, .list.card.manual-card-fullwidth > .item {
border-radius:0px;
border-left:0px;
border-right: 0px;
}
.show-list-numbers-and-dots ul{
list-style-type: disc;
padding-left:40px;
}
.show-list-numbers-and-dots ol{
list-style-type: decimal;
padding-left:40px;
}

/* FIXES */
.scroll, .teacherHomeView{ height: 100%; }